/*
 * The following relate to commenter.
 */

.commenter-author, .commenter-timestamp {
  padding-right: 10px;
  color: grey;
}   

.commenter-author {
  font-weight: bold;
}
.commenter-comment {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  max-width: 800px;
}
#commenter-author {
  width: 100%;
}
#commenter-comment {
  width: 100%;
  height: 100px;
}
    
.commenter-thanks {
  color: #3c763d;
}

/*
 * Some adjustments to the anatole css
 */
.post .post-title h1 {
  text-transform: none;
  font-size: 2.4em;
}

.post .post-title h3 {
  text-transform: none;
}

.sidebar .logo-title .title h3 {
  text-transform: none;
}

p, .post .post-content ul {
  font-size: 1.8rem;
}

code {
  background-color: #d3d3d3;
  padding: 0px 3px 0px 3px;
}
