<div id="commenter-comments"></div>
<div id="commenter-form"></div>
<script>
  // var hcaptchaSiteKey = "{{ .Site.Params.hcaptchaSiteKey }}";
  var hcaptchaSiteKey = null;
  var commenterUrl = '/commenter/comment.php';
</script>
<script defer src="{{ .Site.Params.CommentoURL }}"></script>
<!-- <script src='https://www.hCaptcha.com/1/api.js' async defer></script> -->
<noscript>Please enable JavaScript to load the comments.</noscript>
